.App {
  background-color: #f4f7ff;
  padding: 50px 0;
}
.tags {
  margin-left: 9%;
  padding: 20px 0px;
}

.tag {
  outline: none;
  border: none;
  color: #eee;
  margin: 0px 10px;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px !important;
  line-height: 30px !important;
  font-weight: 600 !important;
  font-family: Manrope Medium, sans-serif !important;
  color: #000;
}

.active {
  font-weight: bold;
  border-bottom: 1px solid #eee;
}
.container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px;
  margin-top: 15px;
}

.image-card {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 90px;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: opacity 0.2s linear;
  border-radius: 5px;
  background-color: #a8bfff;
}

.image {
  width: 24px;
  height: 24px;
}
.image-nomi {
  white-space: nowrap;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  margin-top: 15px;
  width: 100%;
  max-width: 90px;
  text-overflow: ellipsis;
  text-align: center;
}
#filter-btn {
  font-size: 14px !important;
  line-height: 30px !important;
  font-weight: 600 !important;
  font-family: Manrope Medium, sans-serif !important;
  color: #000;
}

@media (max-width: 800px) {
  .tags {
    margin-left: 0 !important;
    display: flex;
    justify-content: center;
  }
  .tags-wrapper {
    width: 80%;
  }
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
