@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;800&display=swap');
.text-title{
    max-width: 800px;
    font-size: 64px;
    line-height: 64px;
    font-weight: 800;
    color: #1b5bf7;
    font-family: Manrope,sans-serif;
    
}
body{
    font-family: Manrope,sans-serif;
}
@media (max-width:800px){
    .text-title{
        font-size: 45px;
    }
}